<!DOCTYPE html>
<html ng-app="appMain">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angulaskql OAuth2 WebApp@Heroku</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='components/bootstrap/dist/css/bootstrap-theme.min.css') }}">
    <!-- My Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

    <!-- AngularJS Files -->
    <script src="{{ url_for('static', filename='components/angular/angular.js') }}"></script>
    <script src="{{ url_for('static', filename='components/angular-route/angular-route.js') }}"></script>
    <!-- Custom JS Files -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers.js') }}"></script>

</head>
<body>

    <h1>Doc-Buried.. </h1>
    <h3>Welcome to my Angular/Flask/SQLAlchemey/OAuth2 Application!</h3>
    <p>
        This application serves as a community rating system for online documentation. It is developed with the spirit
        of <a target="_blank" href="http://stackoverflow.com">StackOverflow</a> in mind. There is such an enormous
        amount of documentation online, while a search engines do a great job finding articles and documentation, they
        operate based on SEO (which has made great strides) but it doesn't always account for quality of detailed information.
        "Doc. Docs" attempts to begin solving that problem. The StackOverflow applications have proved without a doubt that
        the Open Source community is more than capable to attack such a huge problem, we simply need centralization, or perhaps...
        decentralization. If you search Google for tutorials or articles, then I don't want to put another step between you
        and your information. How would you like to be able to see how an article that you just arrived at has been rated without
        having to navigate or take action. I think it would be excellent, and I believe you shouldn't have to go anywhere rate an
        article you just read or compare it to a collection of similar documentation found around the web.
    </p>
    <p>
        We also all know that good information has a lifespan of importance or relevance, but there is no hard coded expiration date.
        I believe that this is a problem that can be solved first through collecting ratings and then later down the line based upon
        traffic, vote trends and voter reputation. Similiar to how users who answer more frequently on StackOverflow are more likely
        to offer valuable solutions, those same users should be able to weigh in heavier on the worth of documentation. There should
        be an easy to use, quick to access system of community checks and balances that allows us to surf to an article and see
        instantly if it is erronous, outdated, and if so who deemed it that way, when, and what are the better options to choose from.
    </p>
    <p>
        Docs Docs has been developed with a RESTFUL API and in the works I have a Chrome extension which will allow users of Docs Docs
        to instantly see data on pages they are currently on, make a vote on an article they just read, see if, how and which users voted
        on the same piece of literature and any other articles they have voted on or made suggestions to.
    </p>
    <div ng-controller="appMainCtrl">
        <h3>{@{ welcomeMsg }@}</h3>
    </div>

</body>
</html>